<div class='row'>
  <div class='medium-6 columns'>
    <!-- <div class='two spacing'></div> -->
    <h4 style='color: #999'>{{strength.sudoTitle}}</h4>
    <h2>{{strength.title}}</h2>
    <!-- <div class='spacing'></div> -->
    <p>{{strength.details}}</p>
    <div class='spacing'></div>
    {% if strength.link %}
    <a class='button small' href='{{strength.link}}'>Learn more</a>
    {% endif %}
  </div>
  <div class='medium-6 columns'>
    <img class="fadeinright" width="500" height="400" alt="" src="{{strength.image}}" />
  </div>
</div>
