<div class='row'>
  <div class='medium-6 columns'>
    <img class="fadeinleft" width="500" height="340" alt="" src="{{strength.image}}" />
  </div>
  <div class='medium-6 columns'>
    <div class='spacing'></div>
    <h4 style='color: #999'>{{strength.sudoTitle}}</h4>
    <h2>{{strength.title}}</h2>
    <div class='spacing'></div>
    <p>{{strength.details}}</p>
    <div class='spacing'></div>
    {% if strength.checklistItems %}
    <ul class='shortcode-list'>
      {% for item in strength.checklistItems %}
      <li>
        <i class='fa fa-check'></i>
        {{item}}
      </li>
      {% endfor %}
    </ul>
    <div class='spacing'></div>
    {% endif %}
    <a class='button small' href='#'>Learn more</a>
  </div>
</div>
