---
layout: default
section_id: about
---

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>Who are we?</h2>
      <div class='spacing'></div>
      <p>Cevo are a team of passionate problem solvers, with deep experience in
        iterative software delivery. We value collaboration, entrepreneurship,
        curiosity, automation, transparency, community and building quality in
        to the software development life cycle. Our goal is to build a company
        of wonderful people who solve interesting problems with great clients.
      </p>

      <p>We began life as a hardware and software reseller. Before being reborn in
        earnest in 2015 from the devops movement with a group of people who
        want to see real, meaningful, value-driven change in our organisations.</p>

      <p>We believe technology is the single most valuable tool we have for
        innovation, and we work with our clients to create that climate in
        their organisations.</p>

      <p>We help our clients alleviate the challenges associated with access to
        talented technologists by upskilling internal teams, optimising the
        prioritisation of work and removing obstacles, hand-off’s, queues and waste.</p>

      <p>We are also striving to refocus consulting on value delivered,
        enablement and knowledge transfer, rather than simply hands on keyboards.</p>

    </div>
  </div>
</div>

<div class='full' >
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>Our community</h3>
      <div class='spacing'></div>
        <p>The Cevo team are passionate advocates for open source software
          development and contribute to the open source movement.</p>
        <ul>
          {% for url in site.data.open-source %}
            <li>
              <a href='{{url}}'>{{url}}</a>
            </li>
          {% endfor %}
        </ul>
    </div>
    <div class='medium-6 columns'>
      <h3>Our Clients</h3>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in site.data.testimonials %}
                <div class='item'>
                  <p class='quote'>{{t.text}}</p>
                  <div class='author'>
                    <p class='author-avatar'>
                      <img alt="" src="{{t.avatar}}" />
                    </p>
                    <p class='author-name'>
                      -
                      <strong>
                        {{t.author}}
                      </strong>
                      , {{t.position}}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>Our team</h2>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for member in site.data.staff %}
    {% assign loopindex = forloop.index | modulo: 2 %}
      <div class='small-6 medium-3 large-3 columns clearfix' style="height:660px">
        <div class='mod modTeamMember style-2'>
          <div class='member'>
            {% if member.avatar %}
            <img class="avatar" alt="Photo of {{member.name}}" src="{{site.url}}/{{member.avatar}}" />
            {% else %}
            <div class="avatar" style="height:250px"></div>
            {% endif %}
            <div class='overlay'>
              <ul class='socials'>
                {% for social in member.socials %}
                  <li>
                    <a href='{{social.url}}'>
                      <i class='{{social.icon_class}}'></i>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <h3>{{member.name}}</h3>
          <p class='position'>{{member.position}}</p>
          <p>{{member.desc}}</p>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='three spacing'></div>
</div>
