
<div class='advanced mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <ul class='sequence-canvas'>
      {% for slide in site.data.slides %}
        {% if forloop.index == 1 %}
          {% assign class = "static" %}
        {% else %}
          {% assign class = '' %}
        {% endif %}

        <li class='frame {{class}}'>
          <div class='bg' style='background-image: url({{slide.bg}});'></div>
          {% if slide.infos %}
            {% for info in slide.infos %}
              <div class='info{{forloop.index}} {{info.animation}}' style=''>
                <div class='row'>
                  <div class='medium-10 large-8 columns'>
                    <i><p style='color: #FFF;'>{{info.subtext}}</p></i>
                    <h2 style='color: #FFF;'>{{info.text}}</h2>
                    <div class='spacing'></div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
