<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h4 style='color: #999'>Our history</h4>
      <h2>Who are we?</h2>
      <div class='spacing'></div>
      <p>
Cevo is an IT consultancy specialising in DevOps, infrastructure automation, and software delivery. We help organisations to deliver higher quality software to market faster by leveraging the cloud and continous delivery practices. We work with some of Australia’s largest corporate and government organisations to automate their infrastructure provisioning and enhance the technical capability of internal software delivery teams.
       </p>
    </div>
  </div>
  <div class='three spacing'></div>
</div>
